*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
}

.header_div {
    background-color: #a8dadc;
    width: 100%;
    height: 75px;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 22.5px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    color: #1d3557;
    padding-right: 25px;
}

li {
    text-decoration: none;
    list-style: none;
}

li:not(:last-child) {
    padding-right: 10px;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 250px;
    border-radius: 3px;
}

.button {
    width: 125px;
    height: 50px;
    border: 0px transparent;
    border-radius: 3px;
    background-color: #a8dadc;
    color: #1d3557;
    font-size: 18px;
    
}

.button:hover {
    background-color: #457b9d;
    transition: ease-in-out 300ms;
}

h1 {
    padding: 10px;
    color: #1d3557;
}

p {
    padding: 5px 25px 25px 25px;
}