* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background: rgb(15,25,46);
    background: linear-gradient(171deg, rgba(15,25,46,1) 0%, rgba(5,8,15,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #14213d;
}

/* CALCULATOR BODY */

.calculator {
    width: 300px;
    height: 500px;
    background-color: #14213D;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.display {
    background-color: #FFFFFF;
    width: 100%;
    height: 25%;
    color: #14213d;
}

.calculation,
.inputField {
    height: 50%;
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputField {
    font-weight: bold;
    font-size: 22px;
}

/* BUTTON STYLES AND VARIOUS STATES */

.buttonLayout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

/* MAIN BUTTON PANEL */

.button {
    width: 25%;
    height: 75pxs;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #14213D;
    color: #E5E5E5;
}

.button:hover {
    border: #FCA311 1px dashed;
    background-color: #0F192E;
}

.button:active {
    background-color: #0A101F;
    border: #FCA311 1px solid;

}

.button:focus {
    outline: 0;
}

#button1 {
    width: 50%;
}

/* EQUALS BUTTON */

.buttonEquals {
    width: 25%;
    height: 75pxs;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #FCA311;
    color: black;
}

.buttonEquals:hover {
    border: #FFFFFF 1px dashed;
    background-color: #F29602;
}

.buttonEquals:active {
    background-color: #B67102;
    border: #FFFFFF 1px solid;

}

.buttonEquals:focus {
    outline: 0;
}

/* BUTTONS ON RIGHT SIDE (+ - * /) */

.buttonRight {
    width: 25%;
    height: 75pxs;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    color: #141414;
}

.buttonRight:hover {
    background-color: #CCCCCC;
    border: #FCA311 1px dashed;
}

.buttonRight:active {
    background-color: #B8B8B8;
    border: #FCA311 1px solid;

}

.buttonRight:focus {
    outline: 0;
}